/* General body and html styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 60px; /* Space for fixed navbar */
}

/* Body background */
body {
    background: url('Fourth-design.mp4') no-repeat center center fixed;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}

/* Fixed navbar for all screen sizes */
.navbar {
    position: fixed;
    top: 0; /* Posunout nahoru k hornímu okraji obrazovky */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Centrování tlačítek v liště */
    align-items: center;
    padding: 10px 0;
    background: rgb(49, 42, 42);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }


/* Hero section with slight dark overlay */
.hero {
    height: calc(100vh - 60px); /* Adjusted height to be above the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* Navigation buttons with a modern appearance */
.nav-button {
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover and focus effects for buttons */
.nav-button:hover, .nav-button:focus {
    color: #fff;
    background-color: #ff5722;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Title styling */
.title {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

/* Style for wallet and mining card using card layout */
.card {
    position: relative;
    top: 20vh; /* Positioned slightly down from the top */
    margin: auto;
    max-width: 90%;
    background: rgba(196, 173, 173, 0.9);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1050;
}

/* Claim button style */
.btn, .btn-close {
    padding: 12px 25px;
    color: white;
    background-color: #f39c12;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

/* Disabled and hover effects for claim button */
.btn:disabled, .btn-close {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn:hover:enabled, .btn-close:hover {
    background-color: #e67e22;
}

/* Mining progress bar with rounded corners */
#mining-progress-bar {
    width: 0%;
    height: 20px;
    background-color: #04AA6D;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

/* Close button with red accent color for caution */
.btn-close {
    padding: 5px 10px;
    color: white;
    background-color: #d19721;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-close:hover {
    background-color: #d32f2f;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .navbar {
        padding: 10px 0;
    }

    .nav-button {
        padding: 20px 25px;
        font-size: 19px;
        margin: 0 5px;
    }

    .hero .title {
        display: none;
    }

    .hero {
        height: calc(100vh - 50px);
        margin-bottom: 0;
    }
}

/* Loading indicator with modern spinner animation */
.loading-indicator {
    border: 5px solid #c98a04;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Claim message with a friendly color */
.claim-message {
    color: #4CAF50;
    text-align: center;
    display: none;
    margin-top: 20px;
}

/* Health Bar Styles - Custom */
.sao-healthbar {
  width: 350px;
  height: 50px;
  position: absolute;
  top: 20px; /* Adjust this as needed */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.character-name {
  margin-right: 15px;
  color: #FFF;
  font-size: 1.2em;
}

.health-bar--outline {
  flex-grow: 1;
  background: #FFF;
  padding: 3px;
  border-radius: 20px;
}

.health-bar--border {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 18px;
  padding: 2px;
}

.health-bar--background {
  width: 100%;
  background: #FFF;
  border-radius: 15px;
  overflow: hidden;
}

.health-bar--health {
  height: 30px;
  width: 100%; /* This will be dynamically adjusted */
  background: linear-gradient(to right, #660000, #cc0000);
  border-radius: 15px;
  transition: width 0.5s ease-in-out;
}

.health-indicator {
  position: absolute;
  top: 60px; /* Adjust this as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-size: 0.8em;
}

/* End of Health Bar Styles */

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); /* Tmavé pozadí */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Načítací spinner */
#loading-spinner {
    border: 5px solid #f3f3f3; /* Světlá část */
    border-top: 5px solid #3498db; /* Modrá část */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
